.top-bar
  .top-bar-left
    .quote.fade.menu-text
      = Quote.all.shuffle.first&.text
  .top-bar-right
    %ul.menu
      %li#home-link
        %a{:href => "/"}
          HOME
      %li#archives-link
        %a{:href => "/archives"}
          ARCHIVES
      %li#contact-link
        %a{:href => "/contacts/new"}
          CONTACT
      %li#facebook-link
        %a{href: 'https://www.facebook.com/groups/428438187299569/'}
          FACEBOOK
