.top-bar
  .top-bar-left
    %a#facebook-menu-icon{href: 'https://www.facebook.com/groups/428438187299569/'}
      .i.fi-social-facebook
  .top-bar-right
    %ul.menu
      %li#home-link
        %a{:href => "/"}
          HOME
      %li#archives-link
        %a{:href => "/archives"}
          ARCHIVES
      %li#contact-link
        %a{:href => "/contacts/new"}
          CONTACT
