= render 'topbar'
.row.filter-bar
  .large-12.columns
    .large-1.columns
      .button-group.expanded
        %a.button{class: 'dj-toggle', id: 'all-djs'} All
    .large-3.columns
      .button-group.expanded
        %a.button.dj-toggle#year-2017
          2017
        %a.button.dj-toggle#year-2016
          2016
        %a.button.dj-toggle#year-2015
          2015
    .large-8.columns
      .button-group
        - @djs.each do |dj|
          %a.button{class: 'dj-toggle', id: "#{dj.slug_name}"}
            = dj.name
.row.large-12.columns
  = render partial: 'archive', collection: @archives, cached: true
:javascript
  $(document).ready( function() {
    $('#archives-link').addClass( 'active' );
  } );
