/* RGB */
$color1: rgba(135, 67, 39, 1);
$color2: rgba(142, 166, 4, 1);
$color3: rgba(245, 187, 0, 1);
$color4: rgba(236, 159, 5, 1);
$color5: rgba(191, 49, 0, 1);
$color1_t: rgba(135, 67, 39, 0.6);
$color2_t: rgba(142, 166, 4, 0.6);
$color3_t: rgba(245, 187, 0, 0.6);
$color4_t: rgba(236, 159, 5, 0.6);
$color5_t: rgba(191, 49, 0, 0.6);

$red: #fff;
